.header_title_main{
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: bold;
}
.container_main_content{
    box-sizing: border-box;
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 150px calc(100% - 200px);
    grid-template-rows: 1fr;
}

#lapdatnav{
    background-color: #5AABD9;
    border-right: none;
}

#suachuanav{
    background-color: rgb(243, 243, 243);
    border-top: none;
}

.subnav_item{
    border: 1px solid black;
    padding: 15px 0px;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
}

.first_container_ct{
    transform: translateX(1px);
}

.second_container_ct{
    border: 1px solid black;
    padding: 20px;
}
.list_item_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item_lich{
    position: relative;
    box-sizing: border-box;
    border: 2px solid black;
    width: 100%;
    border-radius: 20px;
}
.item_lich:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pagination_container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.item_lich_content{
    position: relative;
    margin-right: 170px;
    overflow: hidden;
    padding: 20px 0px 20px 30px;
    line-height: 25px;
}

.item_lich_confirm{
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item_lich_confirm_title{
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}
.item_lich_confirm_image{
    cursor: pointer;
}

.item_lich_confirm_image img{
    height: 70px;
    width: auto;
}

.item_lich_confirm_text{
    font-size: 0.9rem;
}
.button_cancel{
    margin-top: 10px;
    cursor: pointer;
    background-color: #3719F0;
    width: 80px;
    height: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.button_cancel span {
    color: white;
}
.button_cancel i{
    width: 20px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
}