.header_title_main{
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: bold;
}
.container_main_content{
    box-sizing: border-box;
    position: relative;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    overflow: hidden;
}

.footer_main_button{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 50px;
}
.footer_main_button button{
    background-color: #9AFF8A;
    padding: 10px 20px;
    width: 130px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}
.footer_main_button button#xoa{
    background-color: red;
    color: white;
}

.first_container_ct{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first_container_ct label{
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    font-weight: bold;
}
.first_container_ct input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 0.9rem;
    padding: 7px 20px;
    font-weight: 600;
}

.first_container_ct textarea{
    box-sizing: border-box;
    width: 100%;
    font-size: 0.9rem;
    height: 100px;
    padding: 7px 20px;
}

.more_info_box{
    border: 1px solid black;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: 10px;
}

.infor_image{
    height:80px;
    display:flex;
    width: 80px;
    align-self: center;
    justify-content: center;
}
.infor_image img{
    height:80px;
    width: auto;    
}
.infor_text{
    font-size: 0.9rem;
}

